@import "tailwindcss";
@import "@nuxt/ui";

/* Import font files - these will be bundled with your app */
@import "@fontsource/public-sans/400.css";
@import "@fontsource/public-sans/500.css";
@import "@fontsource/public-sans/600.css";
@import "@fontsource/public-sans/700.css";
@import "@fontsource/instrument-serif/400.css";
@import "@fontsource/instrument-serif/400-italic.css";

@source "../../../content/**/*";

@theme static {
  --font-sans: "Public Sans", sans-serif;
  --font-serif: "Instrument Serif", serif;
}

:root {
  --ui-container: var(--container-4xl);

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}
